body{
    background-color: #3a7d44;
    background-image: radial-gradient(#153019 0.5px, #3a7d44 0.5px);
    background-size: 10px 10px;
}

.fa-regular{
    font-size: 64px;
}

.card{
    margin-top: 16px;
    background-color: var(--bs-success-bg-subtle);
}

/* #winningChoice{
    display: inline-block;
} */

#winningChoice{
    text-transform: capitalize;
}

.col i:hover{
    cursor: pointer;
}